header {
    position: sticky;
    top: 0;
    min-height: 100px;
    padding: 20px;
    background: white;
    /* display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    z-index: 2;
    border-bottom: 1px solid black;
}

.banner-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.banner-container > .logo {
    align-self: center;
}
@font-face {
    font-family: "SquarePeg";
    src: url("../assets/fonts/SquarePeg-Regular.ttf");
}
h1 {
    font-family: "SquarePeg";
    font-size: 50px !important;
    text-align: center;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .banner-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* background-color: red; */
    }
    h1 {
        max-width: 100px;
    }
    .banner-container > .logo {
        width: 154px;
        height: 46px;
    }
}

@media screen and (max-width: 460px) {
    .banner-container {
        /* background-color: blue; */
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .banner-rider-tag-container {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    .banner-container {
        /* background-color: blue; */
        width: 100%;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }

    .banner-container > .logo {
        /* align-self: start; */
        /* align-items: center; */
        margin: auto;
    }
    .menu-container {
    }
    .banner-rider-tag-container {
        display: none;
    }
}
