
# misc
/design
todolist.md
walkthrough.md
RideMate.code-workspace
ideas.md

node_modules

/back/public/avatars
# Back
/back/settings.js
/back/node_modules
/back/playground.js

# Playground
/playground
/tamer
# Local Netlify folder
.netlify
