.new-trick-modal-container {
    position: fixed;
    right: 16px;
    bottom: 16px;
    /* BUG: div is over bottom part of parklist */
    max-width: 64px;
}
.add-trick-modal > .modal-content {
    width: 80%;
    margin-top: 64px;
}
.new-button {
    position: sticky;
    left: 90vw;
    bottom: 3vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 64px;
    height: 64px;

    /* border: 2px solid darkgoldenrod; */
    border-radius: 50px;
    background-color: rgb(15, 169, 17);
    transition: 0.5s;

    cursor: pointer;
}
.new-button > span {
    /* width: 64px; */
    /* background-color: transparent; */
    display: flex;
    font-weight: bold;
    color: white;
    align-items: self-end;
    height: 100%;
    font-size: 50px;
    vertical-align: middle;
    /* align-self: baseline; */
}

.new-modal-body {
    display: flex;
    justify-content: center;
}
.new-trick-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 16px !important;
}
.new-trick-form > input[type="text"] {
    margin-bottom: 16px;
}
.new-trick-form > input[type="submit"] {
    margin-top: 16px;
}
.new-trick-form > .select {
    width: 100%;
}
.new-trick-form > .select > select {
    width: 100%;
}

.new-button:hover {
    background-color: brown;
    transition: 0.5s;
}
