h2 {
    /* text-align: center; */
}
h3 {
    /* border-bottom: 2px dotted gray; */
}

.parklist {
    padding:8px;
}
.parklist-container {
    overflow-y: scroll;
    /* z-index: -1; */
    height: 70vh;
}
.parklist-platform {
    position: relative;
    z-index: 0;
}
.platform-name {
    align-self: center;
}
.trick-bag {
    margin-left:32px;
    font-size:20px;
    /* z-index: -1; */
}

.trick-bag > li > label  {
    /* z-index: -1; */
}
.trick-bag > li > label > input[type=checkbox] {
    margin-right:15px;
    transform: scale(2);
    accent-color:limegreen;
    color:yellow;
}
.parklist-platform > ul {
    list-style: none;
}
